/*
	Yellow: #faa916
			#7C550B
	White: 	#EFF4F3
	Gray: 	#464347
	Black: 	#1b1b1e
	Red: 	#96031a

*/

body{
	background:		#eee;
	cursor:			default;
	font-family:	Source Sans Pro;
	margin:			0;
	padding:		0;

	-webkit-touch-callout: 	none;
    -webkit-user-select: 	none;
    -khtml-user-select: 	none;
    -moz-user-select: 		none;
    -ms-user-select: 		none;
    user-select: 			none;
}

#drawCanvas{
	border:		solid 2px #333;
	position:	absolute;
	left:		380px;
	top:		200px;
}

h1, h2, h3, h4, h5, h6{
	margin:		0;
	padding:	0;
}

h1{
	font-family:	Bangers;
	color:			#eee;
	padding:		0;
	margin:			0;
	text-align:		center;
	font-size:		40px;
}

#topBar{
	background:	#DD6031;
	height:		60px;
	width:		100%;
	box-shadow:	0px 4px 4px -4px rgba(0,0,0,0.5);
}

#appContainer{
	position:	absolute;
	left:		50%;
	transform:	translateX(-50%);
}

#canvas{
	position:	absolute;
	top:		100px;
	left:		calc(50% - 400px);
	background:	#fff;
	box-shadow:0px 5px 10px rgba(0,0,0,0.1), 0px 4px 4px -4px rgba(0,0,0,0.5);
	cursor:		none;
}

#settingsPanel{
	position:	absolute;
	height:		320px;
	width:		200px;
	background:	#fff;

	right: calc(50% + 430px);
	top:100px;
}

.box{
	background:	#fff;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1), 0px 4px 4px -4px rgba(0,0,0,0.5);
	border-radius:10px;
}

.topDesc{
	font-family:Source Sans Pro;
	color:#fff;
	font-size:18px;
	line-height:27px;
	margin-left:10px;
	text-align:center;
}

.desc{
	margin:0;
	padding:0;
	font-weight:300;
	font-size:16px;
	color:#555;
	margin-bottom:0px;
	margin-top:10px;
}

.settingButton{
	position:relative;
	background:#eee;
	height:21px;
	width:21px;
	display:inline-block;
	margin-right:6.8px;
	margin-top:3px;
	box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5);
	cursor:pointer;
}

.settingButton.current{
	margin-right:6.8px;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
	cursor:default;
}

.settingButton:hover{
	top:-2px;
}

.settingButton.current:hover{
	top:0;
}

.settingButton:nth-of-type(6){
	margin-right:0 !important;
}

.settingButton:nth-of-type(12){
	margin-right:0 !important;
}

.settingButton:nth-of-type(18){
	margin-right:0 !important;
}

.settingButton:nth-of-type(24){
	margin-right:0 !important;
}

#settingsPanel .wrapper{
	height:100%;
	width:calc(100% - 20px);
	margin:8px;
	margin-right:0px;
	position:relative;
}

input[type="range"]{
	-webkit-appearance:none !important;
	background:#eee;
	height:3px;
	width:100%;
}

input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance:none !important;  
	background:#01579B;
	height:20px;
	width:8px;
}

input[type="range"]:focus{
	-webkit-appearance:none !important;
	outline:none;
}

#preview{
	margin-top:10px;
	position:relative;
	left:50%;
	transform: translateX(-50%);
	border-radius:1000px;
	
	background:#000;

	height:6px;
	width:6px;

	box-shadow:1px 1px 2px 1px #333;
	box-shadow:1px 1px 2px 1px rgba(0,0,0,0.3);
}

#cursor{
	position:absolute;
	border-radius:1000px;
	height:6px;
	width:6px;
	transform:translate(-50%,-50%);
	background:#000;
	pointer-events:none;
	box-shadow:1px 1px 2px 1px #333;
	box-shadow:1px 1px 2px 1px rgba(0,0,0,0.3);
	display:none;
}

#canvasTop{
	background:#96031a;
	height: 25px;
	width:802px;
	position:absolute;
	border:solid 2px #96031a;
	right:450px;
	box-shadow:1px 1px 0px #680615, 2px 2px 0px #680615, 3px 3px 0px #680615, 4px 4px 0px #680615, 5px 5px 0px #680615, 6px 6px 0px #680615;
	left:50%;
	top:100px;
	transform:translateX(-50%);
}

#hero{
	position:fixed;
	z-index:-1;
	left:50%;
	top:0;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	transform:translateX(-50%);
}

.heightIsSmallest{
	height:100%;
}

.widthIsSmallest{
	width:100%;
}

#loginContainer{
	position:absolute;
	top:150px;
	left:50%;
	margin-left:60px;
	height:309px;
	width:500px;
	background:#fff;
	transition:0.5s;
}

#loginContainer *{
	display:inline-block;
	vertical-align:top;
}

#loginContainer * *{
	display:block;
}

#loginPart{
	margin-top:20px;
	margin-left:30px;
	width: calc(50% - 30px);
}

#loginContainer h2{
	color:#555;
	font-weight:300;
	font-size:30px;
	padding:0;
	margin:0;
	margin-bottom:20px;
}

#loginContainer input{
	margin-top:10px;
	margin-bottom:25px;
	height:30px;
	width:140px;
	border-radius:5px;
	border:none;
	outline:none;
	background:#eee;
	display:block;
	box-shadow:inset 0px 0px 1px rgba(0,0,0,0.1),inset 0px 1px 1px rgba(0,0,0,0.3);
	padding-left:10px;
	padding-right:10px;
	color:#01579B;
	font-family:Source Sans Pro;
	font-size:14px;
	transition:0.5s;
	font-weight:500;
}

#loginContainer input:focus{
	box-shadow:inset 0px 0px 2px rgba(0,0,0,0.1),inset 0px 2px 2px rgba(0,0,0,0.3);
}

#loginContainer input:focus::-webkit-input-placeholder {
	position:relative;
	top:-30px;
}

#loginContainer input:focus:-moz-placeholder { /* Firefox 18- */
	position:relative;
	top:-30px;
}

#loginContainer input:focus::-moz-placeholder {  /* Firefox 19+ */
	position:relative;
	top:-30px;
}

#loginContainer input:focus:-ms-input-placeholder {  
	position:relative;
	top:-30px;
}

#loginContainer ::-webkit-input-placeholder {
	position:relative;
	top:0px;
	transition:0.5s;
}
#loginContainer :-moz-placeholder { /* Firefox 18- */
	position:relative;
	top:0px;
	transition:0.5s;
}
#loginContainer ::-moz-placeholder {  /* Firefox 19+ */
	position:relative;
	top:0px;
	transition:0.5s;
}
#loginContainer :-ms-input-placeholder {  
	position:relative;
	top:0px;
	transition:0.5s;
}

#devider{
	position:absolute;
	background:#eee;
	height:270px;
	width:2px;
	left:50%;
	margin-left:-1px;
	margin-top:20px;
}

#signUpPart{
	margin-top:20px;
	margin-left:30px;
}

#loginContainer button{
	margin-top:0;
	border: solid 2px #01579B;
	outline:0;
	border-radius:5px;
	height:35px;
	width:160px;
	background:transparent;
	color:#01579B;
	font-family:Source Sans Pro;
	font-weight:400;
	font-size:15px;
	cursor:pointer;
	transition:0.5s;
	pointer-events:none;
}

#orGuest{
	position:absolute;
	color:#fff;
	left:50%;
	top:calc(50% + 140px);
	transform:translate(-50%, -50%);
	width:500px;
	text-align:center;
	border-radius:10px;
	padding-top:5px;
	padding-bottom:5px;

	height:110px;

	background:#fff;
	color:#555;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1), 0px 4px 4px -4px rgba(0,0,0,0.5);

	transition:0.5s;
	transition-delay:0.1s;
}

#orGuest h2{
	margin-bottom:15px;
	font-weight:300;
	font-size:30px;
}

#enterGuest{
	position:absolute;
	left:0;
	margin-right:50px;
	margin-top:15px;
	outline:0;
	border:0;
	border-radius:5px;
	height:70px;
	width:250px;
	background:#fff;
	color:#01579B;
	font-family:Source Sans Pro;
	font-weight:400;
	font-size:35px;
	cursor:pointer;
	transition:0.5s;
	font-weight:400;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1), 0px 4px 4px -4px rgba(0,0,0,0.5);
}

#enterGuest:hover{
	box-shadow: 0px 7px 14px rgba(0,0,0,0.1), 0px 6px 6px -6px rgba(0,0,0,0.5), 0px 0px 5px rgba(255,255,255,0.5);
}

#appE{
	opacity:0;
	pointer-events:none;
	transition:0.5s;
}

#loginContainer button.ready{
	pointer-events:initial;
	background:#01579B;
	color:#fff;
}

#loginContainer button:hover{
	box-shadow: none;
}

#loginContainer button:focus{
	box-shadow: none;
}

#loginContainer button.ready:hover{
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1), 0px 4px 4px -4px rgba(0,0,0,0.5);
}

#loginContainer button.ready:focus{
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1), 0px 4px 4px -4px rgba(0,0,0,0.5);
}

#loginContainer button.ready:active{
	opacity:0.9;
}

#loginContainer button.working{
	
}

.error{
	background:#FFD9D9 !important;
}

#bodyContainer{
	height:800px;
	width:100%;
	margin-top:500px;
	background:#fff;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1), 0px 4px 4px -4px rgba(0,0,0,0.5);
}

#navBar{
	width:100%;
	height:60px;
	background:#fff;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1), 0px 4px 4px -4px rgba(0,0,0,0.5);
}

#nameAndInfo{
	position:absolute;
	width:500px;
	right:50%;
	margin-right:60px;
	top:150px;
}

#nameAndInfo h1{
	text-align:left;
	font-family:Source Sans Pro;
	font-size:70px;
	color:#fff;
	text-shadow: 0px 0px 5px rgba(255,255,255,0.3);
}

#nameAndInfo h2{
	text-align:left;
	font-family:Source Sans Pro;
	font-size:20px;
	color:#fff;
	font-weight:300;
}

#splashE{
	transition:0.5s;
}

#userE{
	transition:0.5s;
}

#gameModeContainer{
	position:absolute;
	left:calc(50% - 450px);
	overflow:visible;
	top:200px;
}

.gameMode{
	position:relative;
	display:inline-block;
	width:300px;
}

#gameModeContainer h3{
	color:#fff;
	font-weight:300;
	font-size:25px;
	text-align:center;
}

.gameModeIcon{
	width:128px;
	position:relative;
	top:0;
	left:50%;
	transform: translateX(-50%);
}

.gameMode, .gameMode *{
	transition:0.5s;
}

.gameMode:hover{
	cursor:pointer;
}

.gameMode:hover .gameModeIcon{
	top:-10px;
}

#userName{
	display:inline-block;
	position:relative;
	left:50%;
	transform: translateX(300px);
	font-weight:300;
	color:#333;
	font-size:30px;
	line-height:60px;
	top:0;
	cursor:pointer;
	width:200px;
	margin-left:15px;
	pointer-events:none;
}

/*Arrow after username*/
/*#userName:after{
	display:inline-block;
	position:relative;
	content:"";
	left:10px;
	top:12px;
	width:25px;
	height:25px;
	background: transparent url('img/icons/arrowDown.png') no-repeat;
	background-size:25px;
	transition:0.2s;
}*/

#userName:hover{
	opacity:0.9;
}

#userName.enabled{
	pointer-events:all !important;
}

.dropDown{
	background:#fff;
	width:200px;
	position:absolute;
	overflow:hidden;
	transition:0.2s;
	z-index:5;
}

.dropDown li, .dropDown ul{
	padding:0;
	margin:0;
}

.dropDown li{
	list-style-type:none;
	color:#333;
	font-size:25px;
	font-weight:300;
	margin-bottom:5px;
	margin-top:5px;
	margin-left:15px;
	margin-right:15px;
	box-shadow:inset 0px -1px 0px transparent;
	transition:0.1s;
}

#userMenu{
	left:50%;
	transform: translateX(300px);
	z-index:10;
	border-radius:0px 0px 10px 10px;
	height:0;
}

#userMenu.visible{
	height:165px;
}

.dropDown li:hover{
	opacity:0.9;
	box-shadow:0px 1px 0px #ccc;
}

#notDropDown{
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:0;
	display:none;
}

#notDropDown.visible{
	display:block;
}

#findingE{
	opacity:0;
	pointer-events:none;
	transition:0.5s;
}

#userContainer{
	width:100%;
	background:#fff;
	position:relative;
	box-shadow:0px 5px 10px rgba(0,0,0,0.1), 0px 4px 4px -4px rgba(0,0,0,0.5);
	margin-top:500px;
}